
<img id="background_pic" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg" alt="背景画像">

<% if user_signed_in? %>
 <input type="checkbox" id="menu">
 <label class="menu" for="menu">メニュー</label>
  <div id="G">
   <p>ルーム登録</p>
   <p>予約済みルーム一覧</p>
   <p>登録済みルーム一覧</p>
   <%= link_to "設定", users_show_path %> 
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  </div>
<% else %>
 <button id ="sign_in"><%= link_to "ログイン", new_user_session_path %></button>
 <button id ="sign_up"><%= link_to "新規登録", new_user_registration_path %></button>
<% end %>

