// Place all the styles related to the shareapps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
header{
    width: 100%;
    height: 70px;
    padding: 4px 30px;
    background-color: #000000;
    position: absolute;
    top:0;
    left:0;
   }
   
footer{
    position: absolute;
    left:0;
    top: 1300px;
    width: 100%;
    height: 180px;
    margin-top: 64px;
    padding-top: 90px;
    background-color: #111;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
   }

#background_pic{
    position: absolute;
    width: 100%;
    left:0px;
    top:79px;
   }

#sign_up{
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: .25rem;
    color: #fff;
    background-color: #6C757D;
    border-color: #6C757D;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: none;
   }
#sign_in{
       position: absolute;
       top: 25px;
       right: 140px;
       border-radius: .25rem;
       color: #fff;
       background-color: #4A90E2;
       border-color: #4A90E2;
       width: 100px;
       height: 40px;
       font-size: 15px;
       border: none;
      }

#signin{
    position: absolute;
    top:100px;
}

#signup{
    position: absolute;
    top:100px;
} 

#menu {
    display: none;
}

.menu{
    position: absolute;
    top:20px;
    right: 100px;
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
}

#G{
    position: absolute;
    top: 78px;
    right: 60px;
    background: #fff;
    height: 230px;
    width: 160px;
}
#menu:checked+label+#G{
    display: none;
}

#switchbox {
    position: absolute;
    top:100px;
    margin: 10px 0;
    padding: 0;
}

#switchbox label {
    display: block;
    font-weight: bold;
    cursor :pointer;
}

#switchbox input{
    display: none; 
}

#switchbox div {
    height: 0;
    overflow-y: hidden;
    transition: 0.8s;
    opacity: 0;
}

#switchbox input:checked + label + div {
    height: auto;
    opacity: 1;
}

#switchbox label::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 8px;
}

#user_edit_button{
    border-radius: .25rem;
    color: #fff;
    background-color: #4A90E2;
    border-color: #4A90E2;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: none;
}



#users_update_button{
    border-radius: .25rem;
    color: #fff;
    background-color: #4A90E2;
    border-color: #4A90E2;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: none; 
}

#user_edit{
    position: absolute;
    top:100px;
}

#update_button{
    border-radius: .25rem;
    color: #fff;
    background-color: #4A90E2;
    border-color: #4A90E2;
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: none; 
}